[2022-07-20 05:57] kaiwalyakoparkar opened #2 "Rearrange the lists alphabetically"

[2022-07-29 13:13] kunal-kushwaha opened #4 "Add more open source projects"

[2022-07-29 20:18] vishalrathore8oct opened #5 "Add Node-js and Express-js content in the backend roadmap"
In the backend roadmap, you are adding lots of things but I think you have left the essential thing in backend node-js and express-js . so please add this also in your backend roadmap.

[2022-07-29 23:59] anaskhan28 opened #6 "can add more frontend developer contribution projects"
Hey, would love to add some of the contribution projects that I did and would help other people too. ✌️

[2022-07-31 09:44] kaiwalyakoparkar commented on #6
@anaskhan28 thank you so much for the idea. We have recently added more, if you know of any projects yourself please let us know by opening a new issue. I will be closing this one :)

[2022-07-31 09:44] #6 closed

[2022-07-31 09:46] kaiwalyakoparkar commented on #5
@vishalrathore8oct thank you so much for the issue, but we have not added roadmap in this repo. Please wait for the announcement on the official channels (YouTube, Twitter). If you still feel something is missing please feel free to open a new issue with resources you think should be added

[2022-07-31 09:46] #5 closed

[2022-07-31 09:47] kaiwalyakoparkar commented on #4
Done with the newer PRS

[2022-07-31 09:47] #4 closed

[2022-07-31 11:46] octonawish-akcodes opened #11 "[feat] Issue and PR template"
It would be really easy for new contributors to add things at the relevant positions while raising an issue or PR, so adding of both templates can be beneficial.

[2022-07-31 12:30] hasnainmakada-99 commented on #2
Hey @kaiwalyakoparkar can please be more specific about the issue, I would like to work on this one

[2022-07-31 12:49] hamees-sayed opened #12 "Wrong link for resources"
https://www.commclassroom.org/devops-roadmap
Here, the link for `Chef, Puppet, Ansible Course` and `Ansible Docs` under `Configuration Management` needs to be corrected

[2022-07-31 13:03] kelvinparmar commented on #12
Hey I would like to contribute on it

[2022-07-31 13:03] kelvinparmar commented on #12
Please give the instruction for it

[2022-07-31 13:13] Mohand2 opened #13 "Discord Invite invalid ( Sema and Hack Club Hakerabad Communities )"
Discord Invite invalid ( Sema and Hack Club Hakerabad Communities )

[2022-07-31 13:55] kaiwalyakoparkar commented on #13
Thanks on reporting @Mohand2. I will check and inform you with updated once

[2022-07-31 14:13] Sreekar-Shodhan opened #23 "Wrong link in the Roadmap/Resources"
IN Roadmaps/DevRel , when I click on the "Learning in public and getting opportunities" and on " How to become DevRel " it is showing some other Blog. Detailed in below screenshots.

![image](https://user-images.githubusercontent.com/71596539/182030326-597a6db5-107c-41a8-97d4-8015b99a204c.png)

![image](https://user-images.githubusercontent.com/71596539/182030343-ff4bed67-1669-481f-b3f3-43057febfd

[2022-07-31 14:14] Sreekar-Shodhan opened #24 "Content out of box"
Iam using Firefox as my browser and either the content is out of box on every browser or it may be out of box in the firefox browser

[2022-07-31 14:20] prateek041 opened #25 "Add: Cyber-security section."
Cyber security/Computer system security is one of the most distributed domains, having a structure to the learning process will help folks a lot.

[2022-07-31 14:21] kaiwalyakoparkar commented on #24
@Sreekar-Shodhan can you please attach some screenshots and check it out on different browsers if possible please? Pretty sure it's a browser bug.

[2022-07-31 14:22] kaiwalyakoparkar commented on #25
Hey @prateek041 please make sure you add this to https://github.com/commclassroom/roadmaps/discussions/27

[2022-07-31 14:22] #25 closed

[2022-07-31 14:24] kaiwalyakoparkar commented on #23
Thanks for reporting @Sreekar-Shodhan. Will be fixed soon

[2022-07-31 14:25] prateek041 commented on #25
Sure, thanks for directing !

[2022-07-31 14:27] kaiwalyakoparkar commented on #12
Hey @hamees-sayed thanks for the report, the changes will be reflected on website soon. Keeping this issue open util it's live

[2022-07-31 14:28] kaiwalyakoparkar commented on #11
@octonawish-akcodes thank you so much for this suggestion.

[2022-07-31 14:29] kaiwalyakoparkar commented on #12
@kelvinparmar you can check out #11 and #2 for contribution

[2022-07-31 14:33] octonawish-akcodes commented on #11
I can work on this @kaiwalyakoparkar

[2022-07-31 14:38] kaiwalyakoparkar commented on #12
@hamees-sayed this has been resolved now. Thanks for reporting

[2022-07-31 14:38] #12 closed

[2022-07-31 14:39] kaiwalyakoparkar commented on #23
@Sreekar-Shodhan this has been fixed now, thanks for reporting

[2022-07-31 14:39] #23 closed

[2022-07-31 14:41] kaiwalyakoparkar commented on #11
@octonawish-akcodes assigned to you

[2022-07-31 14:50] nesarptr opened #31 "The resource link is broken (BUG)"
The link of resource no. 2 is broken under the Kubernetes section in the DevOps roadmap.

![Screenshot_1](https://user-images.githubusercontent.com/97525250/182031798-72c4196e-426a-405b-8863-570bf31ee508.png)

![Screenshot_2](https://user-images.githubusercontent.com/97525250/182031884-f98e37d2-3f71-4676-8e61-04f562f877a6.png)

[2022-07-31 14:50] kelvinparmar commented on #2
I would like to work on this issue

[2022-07-31 14:52] NitanJana commented on #2
I've already done the rearranging and opened PR

[2022-07-31 14:56] kelvinparmar commented on #2
But still it is display in issue section so that's why I am interested

[2022-07-31 14:58] kaiwalyakoparkar commented on #31
@nesarptr this link is working on our end, please try following
- Check your internet
- try a different browser
- clear cache and cookies

[2022-07-31 14:58] #31 closed

[2022-07-31 15:22] kaiwalyakoparkar commented on #2
@kelvinparmar, @NitanJana has done it for Open Source, if you want you can rearrange for other tech stacks

[2022-07-31 15:23] kelvinparmar commented on #2
But what I have to rearrange?

[2022-07-31 15:25] kaiwalyakoparkar commented on #2
You can rearrange the project, job boards, and community names alphabetically in the readme of particular tech stack folders

[2022-07-31 16:01] NitanJana opened #32 "Rearrange the Contribute links alphabetically in Backend-Development"

[2022-07-31 16:06] kelvinparmar commented on #32
I would like to work on this

[2022-07-31 16:39] adarsh-gupta101 opened #34 "Spelling mistake in Backend Development Roadmap"
There is a spelling mistake in the backend development roadmap at the end

Nogejs=>NodeJS

![image](https://user-images.githubusercontent.com/73733229/182036435-9ddaed22-95c1-4916-bba5-eee8e9950b4a.png)

[2022-07-31 16:43] kelvinparmar commented on #34
I would like to work on this

[2022-07-31 16:46] adarsh-gupta101 commented on #34
I think this part of the website is not available in this repo

[2022-07-31 16:53] kelvinparmar commented on #34
So How can i do this?

[2022-07-31 16:54] AnimeshKumar923 opened #36 "Resource mismatches the name"
When clicking the link in:

Roadmaps -> open source -> Learning Git -> **Git documentation**

**Git documentation** opens a video of Eddie Jaoude on FreeCodeCamp's YouTube channel named 'Complete Guide to Open Source'

I suggest to change the resource which links to official documentation of Git.

[2022-07-31 16:58] kelvinparmar commented on #36
I would like to work on this

[2022-07-31 17:37] kalashjain23 commented on #2
I've covered many files (that need to be rearranged) in this PR. Please review my pull request..

[2022-07-31 18:22] AyushPathak3011 commented on #24
@kaiwalyakoparkar Facing a similar issue on safari.
Attaching a screenshot for the same.
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/87303184/182040030-0a8f7e10-4227-4e2b-a30c-f1d1ee58c3b5.png">

[2022-08-01 07:20] kaiwalyakoparkar commented on #24
@Sreekar-Shodhan @AyushPathak3011 Thank you so much for reporting but there is nothing we can do from our end as it is browser rendering issue. I would suggest you to use chrome or other chrome based browser for same. If we find something that can solve it we will surely implement that :)

[2022-08-01 07:20] #24 closed

[2022-08-01 07:23] kaiwalyakoparkar commented on #2
@kalashjain23 I would really appreciate if you comment on the issue before you create a PR. This way others know that this issue is taken.

[2022-08-01 07:26] kalashjain23 commented on #2
Sorry for this kind of mess!! I'll keep those points in mind from the next time!!

Thank you

[2022-08-01 07:32] kaiwalyakoparkar commented on #2
No worries :D

[2022-08-01 09:33] ctnkaan opened #39 "Adding Postman Student Community & Student Programs"
Hey there.
Postman has an awesome community and an awesome student program called "Student Expert" and "Student Leader" that focuses on promoting API literacy. I'm a member of both the Postman Student Community and a student leader.

Because of this community I had a chance to get a DevRel job and had many opportunities to do public speaking.

I wanted to add this community to Backend-Development

[2022-08-01 16:49] amity-ak97 opened #41 "Bootstrap link pointing to something else"
Bootstrap in CSS Framework in Frontend Development Roadmap links to some job at Apple that doesn't even exist anymore. This issue can be understood more clearly from the video attached.
[screen-capture.webm](https://user-images.githubusercontent.com/54621148/182201157-61a34b93-6430-4e8c-a6df-bb2656d3f1ac.webm)
.

[2022-08-01 16:52] amity-ak97 commented on #41
Same issue for the 'Tailwind CSS' as well

[2022-08-01 20:14] samjn08 commented on #36
Thanks for reporting @AnimeshKumar923. It will be fixed soon!

[2022-08-01 20:35] samjn08 commented on #34
Thanks for reporting @adarsh-gupta101. It will be fixed soon!

[2022-08-01 20:39] samjn08 commented on #34
@adarsh-gupta101 This has been resolved now. Thanks for reporting.

[2022-08-01 20:41] samjn08 commented on #34
@kelvinparmar, you can check out other issues for contribution

[2022-08-01 20:42] #34 closed

[2022-08-01 20:42] #36 closed

[2022-08-01 20:43] samjn08 commented on #41
Thanks for reporting @amity-ak97. It will be fixed soon!

[2022-08-01 20:57] samjn08 commented on #41
@amity-ak97 This has been resolved now. Thanks for reporting.

[2022-08-01 20:57] #41 closed

[2022-08-02 10:12] AnimeshKumar923 opened #42 "Spelling mistake"
When clicking the link in:

Roadmaps -> open source -> Getting Started -> 14 ways to contribute...**genuis**

It should be changed to **genius.**

[2022-08-03 02:24] joeshajan commented on #42
I would like to fix this

[2022-08-03 04:21] AnimeshKumar923 commented on #42
I don't think you can unless you have the source code of the website.

[2022-08-04 13:21] Pritam0077 opened #43 "Marking feature in Roadmaps✅"
Add marking feature in roadmaps, so that folks could know which part they have completed.

[2022-08-04 19:07] priynshuchouhn opened #44 "Removal of unavailable Jobs"
some Job positions are filled or not available at the moment.  update the Readme.md by removing those job roles

[2022-08-04 19:26] vasantisuthar opened #45 "Add Reactplay community to contributors and communities as well"
[Reactplay](https://reactplay.io/) is an excellent community for helping folks to get into open source, learn and showwcase their work created by Tapas Adhikary.
Not only is it for frontend but developers can also learn a lot many things about development. I recommend letting more people know about React play to contribute and join the community.

[2022-08-05 03:07] sheoranharis opened #46 "Resource for contributing to open source for beginners."
https://firstcontributions.github.io/
this website contains some projects which contain good first issues.

--------------------------------------------------------------------------------------------------------------------
and I have found 2 boot camps in a Reddit discussion for building full stack production ready web apps.
How can I contribute these to Community Classroom,

1. one is for build

[2022-08-05 10:52] harshmittal-cyber opened #47 "Microservice architecture in Backend Roadmap"
Please add microservice resources in Backend roadmap. Currently all APIs are built on monolithic architecture in the roadmap

[2022-08-05 12:18] #39 closed

[2022-08-06 03:11] enn-dee opened #49 "Add more resources."
Would appreciate you guys adding resources for Cyber Security/CEH to the roadmap.

[2022-08-06 07:19] cosmicqbit commented on #49
Check this out
https://github.com/gokhangokcen1/cyber-security-roadmap

[2022-08-06 07:49] Nishchay1571999 opened #51 "Add more resources"
Hi I would really appreciate it if you guys could add AI/ML resources with this also where i as a beginner could contribute to.
Thank you

[2022-08-06 09:02] enn-dee commented on #49
Perfect one thanks.

[2022-08-06 16:49] cosmicqbit commented on #43
You mean similar to those of roadmap.sh , right?

[2022-08-06 16:58] Pritam0077 commented on #43
Yeah but might be a good feature if implemented on the website.

[2022-08-07 07:01] vish-han opened #53 "Adding Falso.js in the OSS projects list"
Falso.js is the new alternative of faker.js and it have many good first issues that beginner can contribute too.

[2022-08-07 16:25] shiv324 commented on #12
I am new here . I want to know what to do to contribute?

[2022-08-07 16:42] #32 closed

[2022-08-07 16:43] mihir2226 opened #54 "GSoc all frontend project"

[2022-08-07 16:59] kaiwalyakoparkar commented on #53
@vish-han sounds good. Would you like to go ahead with the PR?

[2022-08-07 17:01] kaiwalyakoparkar commented on #51
@Nishchay1571999 please add it as a suggestion in https://github.com/commclassroom/roadmaps/discussions/27 as we are yet to come up with an AI/ML roadmap. If the project fits in another category of roadmaps that we currently have then please do open a pr accordingly :)

[2022-08-07 17:01] #51 closed

[2022-08-07 17:03] kaiwalyakoparkar commented on #49
@enn-dee we are coming up with Cyber security roadmap soon. I am glad that you found out resources for now. Please do add these resource to the discussion #27 where someone has suggested and asked about the same :)

[2022-08-07 17:03] #49 closed

[2022-08-07 17:04] kaiwalyakoparkar commented on #47
@harshmittal-cyber thanks for the suggestion. These have been added in the newest revision of of the website :)

[2022-08-07 17:04] #47 closed

[2022-08-07 17:06] kaiwalyakoparkar commented on #46
@sheoranharis would you like to go ahead with making a pr for the same?

[2022-08-07 17:06] harshmittal-cyber commented on #47
Thanks @kaiwalyakoparkar .It means a lot for all the folks learning from commclassroom👍

[2022-08-07 17:07] kaiwalyakoparkar commented on #45
@vasantisuthar would you like to go ahead and create a pr for this?

[2022-08-07 17:07] sheoranharis commented on #46
Yes

[2022-08-07 17:08] kaiwalyakoparkar commented on #44
@priynshuchouhn would you like to go ahead with the pr for the same?

[2022-08-07 17:12] kaiwalyakoparkar commented on #43
@Pritam0077 that's a great idea but as suggested by @cosmicqbit it's a good idea to log your progress on other software like notion or spreadsheets

[2022-08-07 17:12] #43 closed

[2022-08-07 17:14] Pritam0077 commented on #43
Yeah👍

[2022-08-07 17:14] Pritam0077 commented on #43
Yeah👍

[2022-08-07 17:14] kaiwalyakoparkar commented on #42
@AnimeshKumar923 it would be really helpful if you add screenshots etc. It's hard to find the typo with current information provided :)

[2022-08-07 17:15] kaiwalyakoparkar commented on #13
@Mohand2 this has been fixed. Thank you so much for reporting :)

[2022-08-07 17:15] #13 closed

[2022-08-07 17:17] kaiwalyakoparkar commented on #54
@mihir2226 would you please give some context of opening this issue?

[2022-08-07 17:17] priynshuchouhn commented on #44
yes. I am working on it. please assign me this task.

[2022-08-07 17:22] kaiwalyakoparkar opened #56 "Add jobs from Job boards"
Adding jobs from the job boards mentioned in this blog https://blog.commclassroom.org/how-to-use-the-best-job-boards-to-find-a-software-engineering-job#write-comment

[2022-08-07 17:24] AnimeshKumar923 commented on #42
![Screenshot_2022-08-07-22-52-33-77_e4424258c8b8649f6e67d283a50a2cbc.jpg](https://user-images.githubusercontent.com/99868037/183303215-87ca56ad-7de4-48f6-ac94-352f7e29c8a0.jpg)

This should help...@kaiwalyakoparkar

[2022-08-07 17:38] mihir2226 commented on #54
@kaiwalyakoparkar I seen kunals post on linkdin and I also following frontend developer roadmap on community classroom site. I am searching for projects on which I work or learn to work.

[2022-08-07 17:52] kaiwalyakoparkar commented on #54
@mihir2226 sorry but I am still not able to understand the purpose of this issue 😓

[2022-08-07 17:54] mihir2226 commented on #54
@kaiwalyakoparkar he said to come to repo and make PR here. I think I got wrong 😅

[2022-08-07 17:56] kaiwalyakoparkar commented on #54
@mihir2226 oh, no problem. You can open a new issue and pr if you want to suggest some open source projects, jobs boards or communities and add them to the current list

[2022-08-07 17:56] #54 closed

[2022-08-07 17:57] mihir2226 commented on #54
Ohk

[2022-08-07 18:02] kaiwalyakoparkar commented on #12
@shiv324 please check out issues section and `good-first-issues` tag -> comment on that issue showing your interest -> Get it assigned -> work on the issue -> submit pr 🎉
You can also create new issues if you have any suggestions or add them to the Discussions tab (right side of pull request tab) Let us know if you need any help :)

[2022-08-07 18:36] PradumTiwari opened #58 "Fixing Node js Spelling Inside the Backend Development Website"
hii @kaiwalyakoparkar there is a little spelling mistake inside the backend  development website under the category of build projects by printing the **node.js** spelling as **noge.js**.

![Screenshot (21)](https://user-images.githubusercontent.com/97210098/183305916-8ac54a17-f3e8-4ea8-aae2-f9f60f664ed5.png)

[2022-08-07 18:47] vish-han commented on #53
I will make the PR ASAP

[2022-08-07 18:51] vish-han commented on #56
I would love to work on it can u please, assign this issue to me😄

[2022-08-07 18:59] vasantisuthar commented on #45
Sure

[2022-08-07 19:19] kaiwalyakoparkar commented on #56
@vish-han Please make sure that you create separate pr for each roadmap :)

[2022-08-07 19:21] kaiwalyakoparkar commented on #58
@PradumTiwari thank you so much for reporting. It will be fixed soon :)

[2022-08-08 00:15] Shivam-Katare opened #63 "Add more Front-end Remote Jobs"
I would like to add more Front-end Remote Jobs in the Front-end Roadmap Section.

[2022-08-08 02:39] sheoranharis commented on #46
ok,
but the Fullstack learning resource directory is not there, I am not sure where to put these resources.

[2022-08-08 06:11] cosmicqbit opened #65 "📦 NEW : DevOps Open Source Projects"
I would like to **contribute** to the [DevOps Open Source Project Llisting](https://github.com/commclassroom/roadmaps/tree/main/DevOps/Contribute).
- Gitea
- Dokku
- rclone

Do I have the permit to **create PR**?

[2022-08-08 09:28] kaiwalyakoparkar commented on #46
@sheoranharis it's there https://github.com/commclassroom/roadmaps/tree/main/Fullstack-Development/Contribute you can add it here for fullstack

[2022-08-08 10:20] ishvinder-singh opened #68 "📦 NEW : DevOps ---> Job-Boards"
Hi, I wanted to add a new job hunting website in the /DevOps ---> Job-Boards folder. Can I create a PR ?
Thanks :)

[2022-08-08 11:41] zverulacis opened #69 "Add Versatile Data Kit to the opensource project list"
The [Versatile Data Kit](https://github.com/vmware/versatile-data-kit) project is open for contribution and has good-first-issues. DataOps project for people with basic SQL and Python skills to create data pipelines. Let me know if you feel like it fits, and I can create a PR, thanks!

[2022-08-08 14:39] todak2000 opened #71 "NEW : DevOps ---> Job-Boards"
Hi, I wanted to add a new job hunting website in the /DevOps ---> Job-Boards folder. Kindly permit me to create a pull request.
Thanks :)

[2022-08-09 05:57] adityasimant opened #75 "Adding prometheus in open source list ."
The Prometheus monitoring system and time series database.
[Contibuting to prometheus.](https://github.com/prometheus/prometheus/blob/main/CONTRIBUTING.md)

[2022-08-09 07:58] Ryukemeister opened #77 "Add a job board in the Frontend development job boards folder"
Hi, I'd like to add another job board in the /Frontend-Development/Job-Boards folder
- [jobboardsearch.com](https://jobboardsearch.com/entry-level+frontend-jobs-only+remote-jobs?remote_data=true)

Kindly permit to raise a PR. Thanks!

[2022-08-09 11:58] SaadAnsari17 opened #78 "Page not found in open source Job Boards -Apple."
![image](https://user-images.githubusercontent.com/94478736/183643438-7fd311c9-02c9-4929-97cb-520346ad8a65.png)

[2022-08-09 14:17] SaarthakMaini opened #80 "Spelling Mistake"
Link To The Error: https://www.commclassroom.org/roadmaps

"HTLM" should be re-written as "HTML" in the picture above the Full Stack Development Roadmap Hyperlink

An image depicting the error is given below

![image](https://user-images.githubusercontent.com/94912101/183672390-29a0acff-8892-475c-8798-d1ea547da877.png)

[2022-08-10 04:19] ykhokhaneshiya commented on #80
Hey, Can I work on this issue?

[2022-08-10 18:36] #65 closed

[2022-08-10 18:57] ctnkaan opened #84 "Cybersecurity Roadmap"
I've added cybersecurity communities, open-source security projects and job boards. I've double checked every link.
For validation I'm not a pro but I have been training in cybersecurity for more than 4 months on my spare time. I'm almost "Omni" rank on TryHackMe.

[2022-08-11 11:17] kaiwalyakoparkar commented on #58
@PradumTiwari this is fixed. Thank yo so much for raising the issue 🙌

[2022-08-11 11:17] #58 closed

[2022-08-11 11:19] kaiwalyakoparkar opened #86 "Broken link on open source contributions project"
there is a project called first-contributions and it's link is currently broken. Task it to change the link to (https://github.com/firstcontributions/first-contributions)

[2022-08-11 11:21] kaiwalyakoparkar commented on #42
@AnimeshKumar923 this has been fixed. thank you so much for raising the issue 🙌

[2022-08-11 11:21] #42 closed

[2022-08-11 11:22] kaiwalyakoparkar commented on #44
@priynshuchouhn if you have made a pr please make sure to link it to the issue, or if you are currently working on it then you can also create a draft pr for the same :D

[2022-08-11 11:26] kaiwalyakoparkar commented on #46
@sheoranharis seems pr for this issue is merged. Please make sure you link the issue in your pr next time 🙌

[2022-08-11 11:26] #46 closed

[2022-08-11 11:27] sheoranharis commented on #46
ok, thank you

[2022-08-11 11:28] kaiwalyakoparkar commented on #53
Hey @vish-han seems like pr for this issue is merged. Please make sure you link the issue to your pr next time 🙌

[2022-08-11 11:28] #53 closed

[2022-08-11 11:29] kaiwalyakoparkar commented on #63
@Shivam-Katare assigned this issue to you. Please go ahead and create the pr 🚀

[2022-08-11 11:36] Mannuel25 commented on #86
I'd love to take this up, kindly assign it to me. Thanks

[2022-08-11 12:38] kaiwalyakoparkar commented on #68
Sure go ahead

[2022-08-11 12:39] kaiwalyakoparkar commented on #69
@zverulacis sure you can go ahead and create a pr. (Please don't forget to mention/link this issue to the pr)

[2022-08-11 12:40] kaiwalyakoparkar commented on #71
@todak2000 sure, please go ahead and create the pr. Please make sure you add mention/link this issue to the pr :)

[2022-08-11 12:40] kaiwalyakoparkar commented on #75
@adityasimant great. You can go ahead and create pr for same. (Please make sure you mention/link this issue to the pr)

[2022-08-11 12:41] kaiwalyakoparkar commented on #77
@Ryukemeister please go ahead and create the pr. Please make sure you mention/link this issue to the pr

[2022-08-11 12:42] kaiwalyakoparkar commented on #78
@SaadAnsari17 would you like to go ahead with making the pr?

[2022-08-11 12:44] kaiwalyakoparkar commented on #80
@ykhokhaneshiya thank you so much for the interest but this issue will be worked on by the team. Thank you for the report @SaarthakMaini 🙌

[2022-08-11 12:46] kaiwalyakoparkar commented on #84
@ctnkaan thank you so much for this 🚀 . We have cybersecurity soon coming up in our roadmap :)

[2022-08-11 12:46] kaiwalyakoparkar commented on #86
@Mannuel25 please go ahead and create the Pr

[2022-08-11 13:09] SaadAnsari17 commented on #78
#79

[2022-08-11 13:12] #71 closed

[2022-08-11 13:37] SaarthakMaini commented on #80
Glad I could help😁

[2022-08-11 14:16] sheoranharis opened #91 "I want to add a slack community of go language."
Gophers Slack - https://join.slack.com/t/gophers/shared_invite/zt-1e38v9g5x-lMagjfZcxMlVqX5mL3t3Wg

[2022-08-11 17:25] kaiwalyakoparkar commented on #80
Thank you @SaarthakMaini this has been fixed

[2022-08-11 17:25] kaiwalyakoparkar commented on #91
@sheoranharis please go ahead and create a pr for this. Please make sure you mention/link this issue to the pr :)

[2022-08-11 17:54] #78 closed

[2022-08-11 18:09] #86 closed

[2022-08-11 18:23] #44 closed

[2022-08-12 06:51] Ryukemeister commented on #77
Thank you!

[2022-08-12 07:13] #77 closed

[2022-08-12 09:52] #63 closed

[2022-08-12 18:14] kaiwalyakoparkar opened #96 "Create folder for blockchain"
- Adding Open source projects for blockchain
- Adding Communities for blockchain
- Adding job boards for blockchain

[2022-08-12 18:30] cosmicqbit commented on #96
I'm taking on this task. Thanks ❤️

[2022-08-13 14:54] Karthik-315 opened #101 "Add Template Bhai Open Source Project"
I would like to add [Template Bhai](https://github.com/AndrejJurkin/template-bhai) OS project, to the list of Open Source Projects.

[2022-08-13 15:36] #101 closed

[2022-08-13 16:49] Omkar0114 opened #103 "Adding `keptn` to `DevOps/Contribute` folder"
I want to add keptn project.
link here: https://github.com/keptn

[2022-08-13 16:51] Omkar0114 commented on #103
Hi, @kaiwalyakoparkar
Can you assign it to me?  :)

[2022-08-14 13:22] #103 closed

[2022-08-15 10:47] Shashmit opened #109 "Update links in the frontend roadmaps"
In the Frontend Roadmap there is this link for  the **CSS -> Resource 2** it is redirecting to the HTML learning page of Codecademy. It should redirect it to the CSS learning page.

[2022-08-15 13:19] kaiwalyakoparkar commented on #109
Thanks for reporting. We will look into it

[2022-08-15 13:51] #96 closed

[2022-08-15 15:02] Abhiram-Gullapalli opened #110 "Multiple organisation names"
There are two 'wikimedia Organisation' links under the frontend contribute section.

[2022-08-15 15:21] Abhiram-Gullapalli commented on #110
@kaiwalyakoparkar could you just add a good first issue label, so that beginners can contribute

[2022-08-15 20:28] Shashmit commented on #109
Ohk

[2022-08-16 04:50] sanyamjain04 opened #111 "Add more Communities in Blockchain"
More blockchain Communities like Ethereum, Solana, and Alchemy should be added to the list.

[2022-08-16 04:57] sanyamjain04 commented on #111
#112 I have created a PR for this. please review.

[2022-08-16 11:30] SaadAnsari17 opened #115 "Adding one more operating system resource in the Devops roadmap"
I am learning OS from this course and it's by far the best course I have come across explaining every nuance and making it easy to understand.
https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O
Can I make a pull request adding this resource to the roadmap?

[2022-08-16 16:36] SaadAnsari17 opened #117 "Adding 10 blockchain projects to contribute to"
Pull request #118

[2022-08-17 11:02] SaadAnsari17 commented on #110
#121 Pull request made.

[2022-08-17 17:28] #68 closed

[2022-08-17 19:39] ishvinder-singh opened #123 "📦 NEW : Blockchain ---> Job-Boards"
Hi, I wanted to add a new job hunting website in the /Blockchain ---> Job-Boards folder. Can I create a PR ?
Thanks :)

[2022-08-18 05:34] cosmicqbit commented on #123
Just do it already man. The PR will be reviewed regardless.

[2022-08-18 07:08] kaiwalyakoparkar commented on #123
Hey @ishvinder-singh as @cosmicqbit you can go ahead with the PR. We make sure to review every PR

[2022-08-18 07:11] kaiwalyakoparkar commented on #115
@SaadAnsari17 thank you for the issue but this will be worked on by the team

[2022-08-18 07:17] kaiwalyakoparkar commented on #109
Thank you so much for reporting this @Shashmit this has been resolved. The site will reflect changes after some time

[2022-08-18 07:17] #109 closed

[2022-08-18 07:54] #111 closed

[2022-08-19 08:33] #117 closed

[2022-08-19 08:35] #110 closed

[2022-08-19 08:35] #123 closed

[2022-08-19 08:45] kaiwalyakoparkar commented on #115
@SaadAnsari17 this has been done. Thank you so much for recommending it. This has been added as "Resource 6"

[2022-08-19 08:45] #115 closed

[2022-08-19 08:54] SaadAnsari17 commented on #115
My Pleasure :)

[2022-08-19 09:21] SaadAnsari17 commented on #115
![image](https://user-images.githubusercontent.com/94478736/185587730-9ff3422a-3bee-44aa-9b32-884936089ff1.png)
Kindly please add an arrow to that resource.

[2022-08-19 11:07] sanyamjain04 opened #126 "Add Angular community in frontend communities"
Angular [Discord community](https://discord.com/invite/angular) should be added in the frontend communities section.
I am creating a PR for this.

[2022-08-20 04:17] shiv324 opened #129 "[Bug] <description>"
### Description

There is a bug in Android and blockchain roadmap. When you open it , the page gets stuck and you cant do anything , cant even zoom in it.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-20 08:32] cosmicqbit commented on #129
The report is insufficient. Consider mentioning the type of device & browser you are using, even better include screen shots with reference.

On the same note, I just visited the aforementioned roadmaps from PC using Firefox and both of 'em are working like charm.

<img width="1126" alt="image" src="https://user-images.githubusercontent.com/75565639/185736416-b5c6668b-c5ca-45b3-9e64-14210c349dd1.p

[2022-08-20 11:40] anandrajsingh opened #135 "Hi, I want to add multiple android open source projects"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

_No response_

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

Telegram https://github.com/DrKLO/Telegram
Signal https://github.com/signalapp/Signal-Android
Retrofit https://github.com/square/retrofit

[2022-08-21 05:34] rahul09999 opened #140 "bug/some unwanted resources added in frontend roadmap"
### Description

In frontend roadmap,in framework section it redirect to some meta/apple careers portal instead of resources.Attaching pic with tick mark on it having that problem

### Screenshots

![Screenshot (16)](https://user-images.githubusercontent.com/92937491/185777127-aa9c645d-6b2e-47d3-b772-5338d80fbbc0.png)

### Additional information

_No response_

[2022-08-21 08:38] KlausMikhaelson commented on #140
Hello @rahul09999 even I noticed this bug and would like to work on it if no-one has started yet

[2022-08-21 10:53] SaarthakMaini opened #141 "[Wrong Link In Open Source Roadmap] <The Git Documentation link in the open source roadmap is not linking to the git documentation>"
### Description

The Git Documentation link in the open source roadmap is not linked to the git documentation. Instead, it is linked to a video that has already been mentioned in the roadmap above.

Please refer to the screenshot given below

Solution:

Change the link of "Git Documentation"  from

https://www.youtube.com/watch?v=yzeVMecydCE

to

https://git-scm.com/doc

OR

https://git-scm.com/bo

[2022-08-21 16:07] mullaivanaraj opened #142 "[Wrong link in Blockchain Roadmap]"
### Description

The link "SOLIDITY DOCS" in the Blockchain roadmap is not linked to the Solidity documentation. Instead, it is linked to a video (Rick Astley - Never Gonna Give You Up (Official Music Video)).

### Screenshots

Please find the attached screenshot below!
![github solidity docs issue](https://user-images.githubusercontent.com/47219765/185800268-9f07964a-b50d-49d6-a714-18bffcd9191d.j

[2022-08-21 16:29] cosmicqbit commented on #142
Dude prefer to use brief title for the issue, like "Wrong link in Blockchain Roadmap"

[2022-08-21 16:31] mullaivanaraj commented on #142
Sure, will change it. Thanks!

[2022-08-21 17:48] Shubhcs01 opened #143 "I want to add a slack community for both frontend and backend"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

HackerEarth Slack - https://join.slack.com/t/hackerearthdevs/shared_invite/zt-1eg0jqmlz-YdvV_Ym1Xby6LJFcqydXIQ
Frontend Mentor - https://join.slack.com/t/frontendmentor/shared_invite/zt-1enudath0-ozW32EpT2Ixn~5JTG0dCog

[2022-08-21 18:11] cosmicqbit commented on #143
@Shubhcs01 Request a PR instead, which gets reviewed anyway & mark this issue **closed** already.

[2022-08-21 18:19] Shubhcs01 commented on #143
okay

[2022-08-21 18:19] #143 closed

[2022-08-22 09:54] kaiwalyakoparkar commented on #129
Thank you for the report @shiv324 and @cosmicqbit. This is a known issue. Please use chrome browser

[2022-08-22 09:54] #129 closed

[2022-08-22 09:58] kaiwalyakoparkar commented on #140
Thank you so much for the report @rahul09999 and thank you for showing interest @KlausMikhaelson but this issue will be worked on by the team

[2022-08-22 09:59] kaiwalyakoparkar commented on #141
Thank you so much for reporting @SaarthakMaini

[2022-08-22 10:04] #142 closed

[2022-08-22 10:05] #69 closed

[2022-08-22 10:08] #135 closed

[2022-08-22 10:20] deep1910 opened #145 "[[Bug] Displaying resource link in some roadmap also traget_blank which will open it on new page]"
### Description

This occurs only in some roadmap such as

BLOCKCHAIN
DEVOPS
ANDROID DEVELOPMENT

Kindly confirm if displaying link is a feature or bug in these roadmaps or it will be updated

Displaying link can be the feature but displaying  target_blank what;s the point?

kindly coney if I am wrong!

### Screenshots

![Uploading Screenshot 2022-08-20 234927.png…]()
![Screenshot 2022-08-22 15495

[2022-08-22 10:24] #126 closed

[2022-08-22 11:00] chirag0002 opened #146 "Add Communities and OSS project on Blockchain"
Communities like :
- 4C
- Polygon
- WebX DAO
- Moralis DAO

must be added to the list of communities to join.

Open Source Project [create-web3-dapp](https://github.com/Eversmile12/create-web3-dapp) by Vitto Rivabella should be added to the list of OSS projects.

[2022-08-22 11:02] chirag0002 commented on #146
@kaiwalyakoparkar Please have a look at this issue.
Also, I would like to work on this.

[2022-08-22 11:22] siddhant-khisty commented on #146
Hey @chirag0002, feel free to make a PR and add the above communities in the blockchain folder

[2022-08-22 11:29] #75 closed

[2022-08-22 11:30] #45 closed

[2022-08-22 11:30] #11 closed

[2022-08-22 11:31] #2 closed

[2022-08-22 14:06] Sidharth004 opened #147 "[Bug] Blockchain Roadmap- Spelling Mistake ."
### Description

In the blockchain roadmap , there is a spelling mistake in the 'Ethereum Concepts' part , in consensus , it must be 'Proof Of **Stake'** Instead of ' Proof Of Stack'.

### Screenshots

![image](https://user-images.githubusercontent.com/89736536/185940937-c9308a22-5fda-4e46-b26c-9afe42f076b8.png)

### Additional information

_No response_

[2022-08-22 14:50] Abhiram-Gullapalli opened #148 "Non functional link in the footer of the website"
### Description

The link to the "team" under the organization section at the footer of the website is non-responsive.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-22 14:51] Abhiram-Gullapalli commented on #148
I would be personally working on this

[2022-08-22 15:05] kaiwalyakoparkar commented on #148
@Abhiram-Gullapalli can you please add a screenshot or gif of the issue?

[2022-08-22 15:51] Abhiram-Gullapalli commented on #148
I hope you understood what I'm trying to convey, the video isn't that clear but hope you got it @kaiwalyakoparkar

[2022-08-22 17:14] kaiwalyakoparkar commented on #148
@Abhiram-Gullapalli Thank you so much for reporting. We will take a look into the issue

[2022-08-22 17:21] Omkar0114 opened #149 "Adding `kubescape Discord` to `DevOps/Communities` folder"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

DevOps community
kubescape Discord link here: https://discord.com/invite/WKZRaCtBxN

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

_No response_

[2022-08-22 17:22] Omkar0114 commented on #149
Hey @kaiwalyakoparkar ,
Can you assign it to me? :)

[2022-08-22 18:33] mullaivanaraj opened #150 "Typo error in "Blockchain Roadmap""
### Description

Proof of Stack is present instead of Proof-of-Stake (PoS).

### Screenshots

![github proof of stake](https://user-images.githubusercontent.com/47219765/185993549-07c61974-f844-43df-87e1-89a9f5c0b63a.jpg)

### Additional information

Change "Proof of Stack" to Proof-of-Stake (PoS).

[2022-08-22 21:07] siddhant-khisty commented on #149
Hey @Omkar0114, feel free to make a PR for this, and link this issue as well 😄

[2022-08-22 21:08] siddhant-khisty commented on #150
#147  mentions the same issue. Working on it 😃

[2022-08-23 06:17] #150 closed

[2022-08-23 07:18] kaiwalyakoparkar commented on #140
Thank you for the report @rahul09999. This issue has been resolved

[2022-08-23 07:18] #140 closed

[2022-08-23 07:22] shoaibshebi opened #152 "Feature: Add roadmap to Private Blockchain"
### Description

I had a look at the blockchain road map, it was awesome. But There was a very major thing that was missing, Private Blockchain.
All the stuff that was mentioned is about Public blockchain, so that's why i designed the roadmap for  public blockchain.

### Screenshots

![ss](https://user-images.githubusercontent.com/47749364/186096648-9c103c8f-b922-48c3-9cec-b40179b6270f.png)

### A

[2022-08-23 07:24] kaiwalyakoparkar commented on #141
Thank you so much for the report. This issue has been fixed

[2022-08-23 07:24] #141 closed

[2022-08-23 07:45] kaiwalyakoparkar commented on #145
@deep1910 thank you for the report but we are unable to find any option on the platform that let's us alter this. We will keep an eye if we come across any good solution. I will be closing this issue as of now

[2022-08-23 07:45] #145 closed

[2022-08-23 07:51] #147 closed, assigned to kaiwalyakoparkar, siddhant-khisty

[2022-08-23 11:24] Omkar0114 commented on #149
Yep

[2022-08-23 12:16] #149 closed

[2022-08-23 13:32] Martande8055 opened #157 "Adding OSS project to `Open-Source/Contribute`"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

I want to add Open Source Project
Link here: https://github.com/EddieHubCommunity/LinkFree

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

_No response_

[2022-08-23 13:34] Martande8055 commented on #157
hey @kaiwalyakoparkar,
I want to work on this issue can you assign it to me?

[2022-08-23 13:38] Pranav-Shinde11 opened #158 "Adding OSS project to `Devops/contribute` folder"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

I want to add `kubescape` project
link here:  https://github.com/kubescape/kubescape

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

_No response_

[2022-08-23 14:00] Pranav-Shinde11 commented on #158
Hi @kaiwalyakoparkar,
I want to work on this issue can you assign it to me? :)

[2022-08-23 14:59] kaiwalyakoparkar commented on #158
@Pranav-Shinde11 I have already assigned it to you

[2022-08-23 16:30] servesh-chaturvedi opened #161 "Add 'Namaste Javascript' playlist to Backend Development roadmap"
##  Description
This is a highly popular theoretical javascript playlist which goes in-depth about core JS concepts. The videos are short and engaging and clarify some basic misconceptions and will help for interviews too.

### Playlist link:
[Namaste Javascript](https://youtube.com/playlist?list=PLlasXeu85E9cQ32gLCvAvr9vNaUccPVNP) by Akshay Saini

[2022-08-24 11:11] #152 closed

[2022-08-24 11:16] shoaibshebi commented on #152
@siddhant-khisty
I'm not able to find it on the website under blockchain section
can you please send me the link?

[2022-08-24 11:20] siddhant-khisty commented on #152
cc @kaiwalyakoparkar

[2022-08-25 06:43] yash-gulatii opened #167 "Add nodejs repository in Backend-Development"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

Add [nodejs](https://github.com/nodejs/node) repository in Backend-Development

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

_No response_

[2022-08-25 06:50] #167 closed

[2022-08-25 06:55] #157 closed

[2022-08-25 06:56] #158 closed

[2022-08-28 08:01] AmanGit010 opened #170 "Wrong link added in Android Roadmap -> Introduction to Kotlin -> Kotlin in 12 minutes on Community Classroom Website"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

Current link takes us to Installation of Android Studio - https://www.youtube.com/watch?v=4M0hNugPJV8&ab_channel=RahulPandey

Correct link for the video is - https://www.youtube.com/watch?v=iYrgWO2oibY&t=4s&ab_channel=RahulPandey

### For adding Job Posting, add links here.

_No response_

##

[2022-08-28 08:11] #170 closed

[2022-08-28 13:03] SaadAnsari17 opened #171 "Same resource repeated in CSS tutorials."
### Description

The same link is provided in Resource 1 and Resource 2 in CSS tutorials in the front-end roadmap.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-28 14:33] SaarthakMaini opened #172 "[Missing Arrow] <There is no arrow pointing towards "Resource 2" from "Front End Projects" section>"
### Description

There is no arrow pointing towards "Resource 2" from "Front End Projects" section

The same is given in the screenshot attached below

### Screenshots

![image](https://user-images.githubusercontent.com/94912101/187079194-1c0279fb-8f2e-4868-8c94-11902ce15a36.png)

### Additional information

_No response_

[2022-08-28 15:01] AmanGit010 opened #173 "Wrong Link added under Android Roadmap -> Introduction to Kotlin -> Kotlin in 12 minutes"
Current video link for Kotlin in 12 minutes takes us to Android Studio installation video by Rahul Pandey -> (https://www.youtube.com/watch?v=4M0hNugPJV8&ab_channel=RahulPandey)

Correct video link for Kotlin in 12 minutes by Rahul Pandey -> (https://www.youtube.com/watch?v=iYrgWO2oibY&t=11s&ab_channel=RahulPandey)

Link to Android Roadmap -> (https://www.commclassroom.org/android-roadmap)

[2022-08-28 17:21] SaptarshiSarkar12 commented on #173
Yes @AmanGit010 is right.
@kaiwalyakoparkar Please sort out the issue as soon as possible to prevent confusions.

[2022-08-28 17:24] SaptarshiSarkar12 commented on #173
@kaiwalyakoparkar Please add the <code>**bug**</code> label

[2022-08-29 09:22] kaiwalyakoparkar opened #174 "[FEATURE] Addition of all GSoC projects for Backend"
### Description

Addition of all GSoC projects for Backend

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-29 21:46] siddhant-khisty commented on #173
@kaiwalyakoparkar  can you please make a label called `re-embed required`?

[2022-08-30 05:38] kaiwalyakoparkar commented on #173
@siddhant-khisty done

[2022-08-30 05:49] kaiwalyakoparkar commented on #171
Thank you for the report @SaadAnsari17 this has been resolved now

[2022-08-30 05:50] #171 closed

[2022-08-30 05:53] kaiwalyakoparkar commented on #172
Thank you so much for the report @SaarthakMaini this has been resolved now

[2022-08-30 05:53] #172 closed

[2022-08-30 05:54] kaiwalyakoparkar commented on #173
@AmanGit010 thank you so much for the report. This has been resolved now

[2022-08-30 05:54] #173 closed

[2022-08-30 05:57] SaadAnsari17 commented on #171
My pleasure :)

[2022-08-31 08:12] AmanGit010 commented on #173
Welcome buddy 😊

[2022-09-01 16:44] Praxkv1 opened #176 "Open source project by Language"
### Description

Can we add a category called Languages and have an option to search project by language. Today if i am infested in python projects i need to open each and every project listed here and see what is the language that project is using which i feel is an overhead.

![image](https://user-images.githubusercontent.com/6167307/187967880-9822a6f9-795a-48e8-85c4-db4ed59169b9.png)

### Scree

[2022-09-02 12:02] siddhant-khisty commented on #176
@Praxkv1 This sounds like a good idea. However many projects use multiple languages. Instead, we could add what tech stack it uses in front of the project. How does that sound?

[2022-09-03 06:23] Susmita-Dey commented on #176
@siddhant-khisty Sounds good.

[2022-09-03 06:26] Susmita-Dey commented on #174
@kaiwalyakoparkar Do you have any list for that?

[2022-09-03 07:41] kaiwalyakoparkar commented on #174
@Susmita-Dey it's there on gsoc website

[2022-09-03 09:51] Susmita-Dey commented on #174
@kaiwalyakoparkar Okay I'll check them out and add them in the repo.

[2022-09-04 06:21] Praxkv1 commented on #176
@siddhant-khisty @Susmita-Dey
Yes this is a good catch. Is there a way we can add tags to the project? if so we can add programing language as a tag along with the percentage of that specific programing language being used in that project.

For example if
**Project1** is built using 60% `python`and 40% `Typescript`
**Project2** is built using 40% `python` and 60% `Typescript`

Then when some one s

[2022-09-04 12:02] kaiwalyakoparkar commented on #176
@Praxkv1 percent won't be a good idea as there is no accurate way I know which could derive the percent of language used in the project. Additionally, GitHub doesn't provide such feature (If you know about any please let us know). If you click on the project it will be redirected to the project repo where you are most likely to find languages used. Please feel free to open new issue if you come ac

[2022-09-04 12:02] #176 closed

[2022-09-06 03:26] Susmita-Dey commented on #174
@kaiwalyakoparkar There are many backend projects of GSoC. I'm adding all of them in this repo.
One quick question: Will the link redirect to the GSoC project page?

[2022-09-06 15:16] kaiwalyakoparkar commented on #174
@Susmita-Dey nope, add links to GitHub repo of the project

[2022-09-08 17:03] AnuragSharma5893 commented on #56
Hello , sir I would like to add some job description for the visitors can please give me the permission to work on this .

[2022-09-09 05:47] kaiwalyakoparkar commented on #56
@AnuragSharma5893 I think adding job descriptions will clutter the readme and make it hard to read as there will be 100s of jobs going to be listed there. You can go ahead and job portals for each of the respective domains

[2022-09-19 13:56] asifurrahaman754 opened #181 "Want to add a new github repo to contribute"
### Description

I want to add a new GitHub repository to contribute. It is a frontend-interview-handbook. Here one can learn about frontend interviews, how to create a good resume, which questions to prepare etc.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-20 05:08] siddhant-khisty commented on #181
Hey, we want to link GitHub repo's where you can work on the specified domain. This still sounds like a good resource for beginners with the front-end. I think we can make a folder called `useful resources` and have it there.
cc @kaiwalyakoparkar

[2022-09-20 05:26] asifurrahaman754 opened #183 "[React JS/JavaScript Engineer - Andela] not found in the frontend job board"
### Description

The [React JS/JavaScript Engineer - Andela] is not found on the frontend job board. I think the page URL is changed or something, it shows 404. Should I remove it or change it to the correct url?

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-20 05:52] siddhant-khisty commented on #183
Hey @asifurrahaman754, I think this was pointing to a job posting rather than a job board. Feel free to make a PR to remove it. If you see any other ones like this which are pointing to job postings, please make PRs to either remove them or point to job boards on that website

[2022-09-20 06:00] asifurrahaman754 commented on #183
got it

[2022-09-20 06:36] asifurrahaman754 commented on #183
@siddhant-khisty I made a pr, will u check it, please?
link: https://github.com/commclassroom/roadmaps/pull/184

[2022-09-20 07:17] #183 closed

[2022-09-20 14:12] #181 closed

[2022-09-22 10:12] rushikeshsuryawanshi opened #186 "[Bug] Missing Links in FullStack Roadmap"
### Description

The First 2 steps in the Full Stack Roadmap i.e.

1. Get Started with Frontend
2. Get Started with Backend

These 2 steps are missing links to the roadmaps.

Yes, users can navigate back and forth, and get to those roadmaps.
But this could improve user experience.

### Screenshots

![image](https://user-images.githubusercontent.com/55173065/191720677-1eb988c2-19c9-4c05-b06e-27324a

[2022-09-22 11:57] siddhant-khisty commented on #186
Hey, thanks for the idea. This will be handled by our internal team :)

[2022-09-26 18:22] SaadAnsari17 opened #188 "Add the hacktoberfest label to this "roadmaps" repo"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

_No response_

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

_No response_

[2022-09-27 09:41] siddhant-khisty opened #189 "Update Readme for Hacktoberfest"
### Description

As Hacktoberfest is approaching, we want to add the hacktoberfest label to this repository so that PRs will be counted for it.

Please create a new section in the Readme.MD file which has rules and instructions for contributing during hacktoberfest. Alternatively, you can made a new file called `Hacktoberfest-Readme.md` and link it in the main readme.

Please mention the following

[2022-09-27 13:31] Manice18 commented on #189
I can make the required changes can you assign it to me?

[2022-09-27 14:58] Manice18 commented on #189
![image](https://user-images.githubusercontent.com/91601706/192561751-a1df7efd-2888-4ce7-9be3-5e853cf280f1.png)
I hope this works.

[2022-09-27 15:19] Manice18 commented on #189
what can I tweak a little can you please elaborate a little ?
like should i add logo of community classroom?

[2022-09-27 15:56] Manice18 commented on #189
![image](https://user-images.githubusercontent.com/91601706/192575635-d576d6c6-ae14-483b-8efb-2cce64b3199e.png)
does this looks good?

[2022-09-27 16:16] siddhant-khisty commented on #189
@Manice18 no no, I don't mean the logo. I meant ways how folks can contribute to this particular repo. By adding learning resources, projects, job portals, doc changes, etc. Basically, everything that is present in this repo. Please also mention that errors on the website will be handled by the internal team but we would still appreciate any bug/improvement reports.

[2022-09-27 16:26] Manice18 commented on #189
@siddhant-khisty should i take the link of each resource of this repo and paste it?
for eg suppose for backend dev:
projects(link)
jobs-offers(link)
or should i just write backend dev(link to that repo)

[2022-09-27 16:35] siddhant-khisty commented on #189
@Manice18 I don't think that will be necessary, since everything is already well structured.

[2022-09-27 16:42] Manice18 commented on #189
![image](https://user-images.githubusercontent.com/91601706/192585946-7e2e520f-fe18-4dbe-b623-22c4343e88ab.png)
i already did that  but on addition just added the links.

[2022-09-27 16:43] Manice18 commented on #189
![image](https://user-images.githubusercontent.com/91601706/192586158-c9051458-aa65-4c04-9417-17b7cf587383.png)

[2022-09-27 16:45] Manice18 commented on #189
![image](https://user-images.githubusercontent.com/91601706/192586584-5a034d03-499e-4095-9dc2-7dcb08cef922.png)

[2022-09-27 16:47] siddhant-khisty commented on #189
@Manice18 This looks good. Please make a PR and link this issue to it

[2022-09-27 16:49] Manice18 commented on #189
i'll be using the second method which u mentioned so should i first push this hacktoberfest.md ? and then edit the readme.md file?

[2022-09-27 16:58] Manice18 commented on #189
i think u will have to assign the task to me since i am not able to push it to main branch?

[2022-09-27 17:25] Manice18 commented on #189
done can u please check

[2022-09-29 08:24] #189 closed

[2022-09-30 12:24] SaadAnsari17 opened #192 "Adding up-for-grabs website and github in open source projects."
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

_No response_

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

- [up-for-grabs (Website)](https://up-for-grabs.net/#/)
- [up-for-grabs (Github)](https://github.com/up-for-grabs/up-for-grabs.net)

[2022-09-30 12:37] SaadAnsari17 commented on #192
pr made #193

[2022-10-01 06:18] #192 closed

[2022-10-01 08:17] #188 closed

[2022-10-07 02:42] yash-gulatii opened #194 "[OTHER] Add "Polkadot" Project to Blockchain."
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

Blockchain

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

https://github.com/paritytech/polkadot

[2022-10-07 05:36] #194 closed

[2022-10-07 18:06] sumitkr2000 opened #197 "Add resource in Frontend"
### Description

Hey, @kaiwalyakoparkar I want to add resources to the frontend roadmap. Can you assign me this issue? Thank you!

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-07 19:56] siddhant-khisty commented on #197
Hey, the actual roadmap on the website is handled by the internal team for now

You can link the resource here and we will add it if it is good :slightly_smiling_face:

[2022-10-07 19:56] #197 closed

[2022-10-08 05:35] sumitkr2000 commented on #197
@siddhant-khisty Can I improve the frontend Lil-bit !?

[2022-10-08 05:58] Sharptooth14 commented on #148
Can you please mention the file location of the bug???

[2022-10-08 16:55] #148 closed

[2022-10-09 16:53] kaiwalyakoparkar opened #198 "[FEATURE] Add open source roadmap in the readme format"
### Description

We need to convert the graphical chart present on [cc roadmaps website] (https://www.commclassroom.org/opensource-roadmap) in the readme format

**Create Readme.md file and add the converted map there**

Eg:

[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:04] siddhant-khisty opened #199 "[FEATURE] Add Frontend roadmap to readme format"
### Description

Convert the [frontend roadmap on CC website](https://www.commclassroom.org/frontend-roadmap) to a markdown format in the frontend folder. Add it to a file called `roadmap.md`

Example:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:05] siddhant-khisty opened #200 "[FEATURE] Convert the backend roadmap to a readme format"
### Description

Convert the [backend roadmap on CC website](https://www.commclassroom.org/backend-roadmap to a markdown format in the backend folder. Add it to a file called `roadmap.md`

Example:
[code]

[2022-10-09 17:07] siddhant-khisty opened #201 "[FEATURE] Convert Fullstack roadmap to readme format"
### Description

### Description

Convert the [fullstack roadmap on CC website](https://www.commclassroom.org/fullstack-roadmap) to a markdown format in the fullstack folder. Add it to a file called `roadmap.md`

Example:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:07] siddhant-khisty opened #202 "[FEATURE] Convert DevRel roadmap to readme format"
### Description

### Description

Convert the [DevRel roadmap on CC website](https://www.commclassroom.org/devrel-roadmap) to a markdown format in the DevRel folder. Add it to a file called `Readme.md`

Example:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:08] siddhant-khisty opened #203 "[FEATURE] <description>"
### Description

Convert the [DevOps roadmap on CC website](https://www.commclassroom.org/devops-roadmap) to a readme.md format in the DevOps folder.

Example:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:09] siddhant-khisty opened #204 "[FEATURE] Convert android roadmap to readme format"
### Description

Convert the [Android roadmap on CC website](https://www.commclassroom.org/android-roadmap) to a markdown format in the Android folder. Add it to a file called `Readme.md`

Example:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:11] siddhant-khisty opened #205 "[FEATURE] Convert Blockchain roadmap to readme format"
### Description

Convert the [Blockchain roadmap on CC website](https://www.commclassroom.org/blockchain-roadmap) to a markdown format in the Blockchain folder. Add it to a file called `Readme.md`

Example:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:55] vasucp1207 commented on #199
Hey, I wanted to work on this issue

[2022-10-09 17:56] vasucp1207 commented on #200
Hey, I wanted to work on this issue.

[2022-10-09 18:08] siddhant-khisty commented on #199
Hey @vasucp1207 feel free to work on it. I've assigned this one, and the frontend one to you

[2022-10-09 18:11] VishwaS-22 commented on #203
Hey @siddhant-khisty ! I wanted work on this issue.

[2022-10-09 18:12] siddhant-khisty commented on #203
@VishwaS-22 feel free to work on it. I've assigned it to you

[2022-10-09 18:20] VishwaS-22 commented on #203
Thanks @siddhant-khisty for this opportunity! I'll start my progress.

[2022-10-09 18:39] vasucp1207 commented on #200
Thanks @siddhant-khisty

[2022-10-09 18:39] vasucp1207 commented on #199
Thanks @siddhant-khisty.

[2022-10-09 19:36] tinniaru3005 commented on #201
Hey @siddhant-khisty . Can you please assign this issue to me. I would like to work on it.

[2022-10-09 22:01] c99SRS commented on #205
Hi @siddhant-khisty can you please assign this to me? I can work on this

[2022-10-09 22:06] c99SRS commented on #204
HI @siddhant-khisty i can work on this

[2022-10-09 22:51] tinniaru3005 commented on #202
Hey @siddhant-khisty, I want to work on this issue. Can you please assign it to me?

[2022-10-09 22:52] tinniaru3005 commented on #198
Hey @kaiwalyakoparkar, I want to work on this issue. Can you please assign it to me?

[2022-10-10 04:12] Akash190104 commented on #202
Hey @siddhant-khisty, I want to work on this issue. Can you please assign this to me?

[2022-10-10 04:13] Akash190104 commented on #198
Hey @kaiwalyakoparkar, I would like to help. Can you please assign this to me?

[2022-10-10 04:46] kaiwalyakoparkar commented on #198
@tinniaru3005 sure please go ahead

[2022-10-10 04:47] kaiwalyakoparkar commented on #202
@tinniaru3005 you have been assigned another issue so I will assign this issue to @Akash190104

[2022-10-10 05:04] tinniaru3005 commented on #198
Hey @kaiwalyakoparkar. Thanks for assigning. Should I name it `readme.md` or `roadmap.md` as In the fullstack roadmap I named it roadmap.md.

[2022-10-10 05:50] tinniaru3005 commented on #202
Sure :)

[2022-10-10 06:21] siddhant-khisty commented on #198
@tinniaru3005 Please keep it `readme.md` as that will get rendered

[2022-10-10 06:42] tinniaru3005 commented on #198
Yes I have done that and sent a PR :)

[2022-10-10 18:14] vasucp1207 opened #211 "[Other] Backend Roadmap Suggestion"
### Description

- Hey, In the [**Backend roadmap**](https://www.commclassroom.org/backend-roadmap) of **JS Tutorial**  section Resource numbers5 and 7 are same.
- Also why this section is named Javascript why it's not **Nodejs and ExpressJS**?
<img width="791" alt="Screenshot 2022-10-10 at 11 46 31 PM" src="https://user-images.githubusercontent.com/85363195/194929263-5e250a85-c75b-4ac7-97a6-01eb6

[2022-10-10 18:29] c99SRS commented on #205
working on it

[2022-10-11 08:00] siddhant-khisty commented on #211
@vasucp1207 The backend roadmap has been shifted to this GitHub Repo. Feel free to make the changes.

Also, we're referring to it as JavaScript because Node and Express are frameworks based on JS. The core thing to learn is Javascript.

[2022-10-12 11:47] #201 closed

[2022-10-12 11:53] kaiwalyakoparkar commented on #211
@vasucp1207 thank you for the issue. You can now create an issue and pr for new format as mentioned by @siddhant-khisty. As the issue you raised is based on older format I will be closing it. Feel free to reach out if you have any questions

[2022-10-12 11:53] #211 closed

[2022-10-12 11:54] #198 closed

[2022-10-13 18:49] Purva2803 commented on #199
Hey , i am really excited to work on this issue please assign me this.

[2022-10-14 01:38] siddhant-khisty commented on #199
Hey @Purva2803, this issue has been fixed. I guess it was not linked to the PR. Feel free to work on one of the other roadmap issues.

[2022-10-14 01:38] #199 closed

[2022-10-14 01:38] #200 closed

[2022-10-14 01:38] #202 closed

[2022-10-14 01:41] siddhant-khisty commented on #91
Stale for more than 30 days

[2022-10-14 01:41] #91 closed

[2022-10-14 01:41] siddhant-khisty commented on #161
stale for more than 30 days

[2022-10-14 01:41] #161 closed

[2022-10-14 04:26] Purva2803 commented on #199
Yes it's not merged, i will work on other issues
.

[2022-10-14 05:36] Purva2803 commented on #56
@kaiwalyakoparkar I want to add some jobs in Devops as well as blockchain please assign me this issue.

[2022-10-14 15:18] TRohit20 opened #218 "Adding 2 new Frontend Projects especially for beginners"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

Frontend Web Development

### For adding Job Posting, add links here.

_No response_

### For adding OpenSource Projects, add links here.

1. https://github.com/TRohit20/Soldier-Fit-Factory-Website - A responsive website for a gym.
2. https://github.com/TRohit20/Blogs-Website - A responsive C

[2022-10-14 17:35] Mohand2 opened #219 "https://www.commclassroom.org/roadmaps link not working !"
### Description

https://www.commclassroom.org/roadmaps link is not working !

### Screenshots

![index](https://user-images.githubusercontent.com/75218777/195907389-65f04aa1-2d39-417c-b4c5-464421f55f7d.png)

### Additional information

_No response_

[2022-10-14 18:20] siddhant-khisty commented on #219
Hi @Mohand2 we have shifted most of the roadmaps to this repository. For the remaining roadmaps we will upload a .svg file that contains the roadmap and will eventually convert it to a markdown format

[2022-10-14 18:20] #219 closed

[2022-10-14 18:21] siddhant-khisty commented on #218
Hi @TRohit20 please improve the readme in these two repos. Add instructions on how to build and deploy the project, add a preview for the project etc

[2022-10-14 18:22] siddhant-khisty commented on #56
hey @Purva2803 this task is common across all job boards. Feel free to raise a PR for the same

[2022-10-15 08:41] TRohit20 commented on #218
Hey @siddhant-khisty , I have made some changes to the Readme files of both the projects. Please have a look.

[2022-10-16 13:09] SaarthakMaini commented on #203
Hello👋,

Is this issue still being worked upon? If not, may I submit a PR for the same?

Thank you!

[2022-10-16 18:04] samvid2020 opened #222 "[Android Roadmap needs to be converted into markdown format ] <readme.md file>"
### Description

The Android Roadmap should have its own readme.md file which it is precisely covering the content in markdown format without redirecting to the website!

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-17 11:44] siddhant-khisty commented on #218
Gym website: You mentioned that this was for a gym you go to. Do you have permission for the gym to distribute the code for this? I would suggest making it a private repo if it is something proprietary.

The blogging website looks good

[2022-10-17 11:46] siddhant-khisty commented on #222
Duplicate of #204

[2022-10-17 11:46] #222 closed

[2022-10-17 11:59] TRohit20 commented on #218
No buddy. The gym owner is my close friend and I have discussed this with him. There are no such issues. I can assure you of that. That is why I put it forth for contribution

[2022-10-17 12:36] siddhant-khisty commented on #218
@TRohit20 no problems in that case.

[2022-10-17 18:16] TRohit20 commented on #203
Is this issue still on? Will open a PR to fix it

[2022-10-18 11:53] siddhant-khisty opened #225 "[FEATURE] Add a index in readme"
### Description

Add a index in the readme.md which will link to all available roadmaps

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-18 14:53] anxkhn opened #226 "[Bug] 404 Not Found"
### Description

Website is not accessible from [Main site](https://www.commclassroom.org/roadmaps) and [Github Hosted Paged](https://commclassroom.github.io/roadmaps)

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-18 19:05] Ghat0tkach commented on #225
hey @siddhant-khisty , may i get the opportunity to work in this issue?

[2022-10-18 19:06] siddhant-khisty commented on #225
@Ghat0tkach sure go for it. Just keep in mind that a few roadmaps have not yet been converted to a markdown format. If I'm not wrong it's the Blockhain, DevOps and Android roadmaps. For these three you can add some text such as `Work in Progress`

[2022-10-19 06:54] VishwaS-22 commented on #203
Hey @siddhant-khisty ! Am working on that issue and almost completed it, the thing is I need to add Links for few stages but the site was down so I was not able to get those links. Once the CC site is available, I'll be able to complete the progress.
Can I make a PR with the one I've done? It might be helpful for the folks.

[2022-10-19 07:28] siddhant-khisty commented on #203
@VishwaS-22 sure. Make a draft PR.

[2022-10-19 13:03] VishwaS-22 commented on #203
@siddhant-khisty Done bro. Made a Draft PR .

[2022-10-19 15:22] SD-13 opened #230 "[Bug] Update the website link in Readme."
### Description

The `website` in the readme is redirecting to the old URL. We need to update it with the new one.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-19 15:24] SD-13 commented on #230
Sorry, my mistake. it's redirecting to the correct one.

[2022-10-19 15:24] #230 closed

[2022-10-20 13:31] souravsk opened #232 "Site not found"
### Description

The Roadmaps page is not accessible able it gives a 404 Error.

### Screenshots

![Screenshot from 2022-10-20 18-59-23](https://user-images.githubusercontent.com/33636054/196962064-e1c40799-d0ca-4298-a759-ee95b62df4a4.png)

### Additional information

_No response_

[2022-10-20 13:49] siddhant-khisty commented on #232
@souravsk all the roadmaps have been shifted to this repo. There is no longer a dedicated page for the roadmaps

[2022-10-20 13:49] #232 closed

[2022-10-21 18:54] Dnyaneshvn opened #235 "we need to add updated android course"
### Which field of community (DevOps/Opensource/Web/Web3/Android/Devrel) you want to add, drop the links?

Android

### For adding Job Posting, add links here.

https://developer.android.com/courses/android-basics-compose/course

this is a new and up-to-date android development course.

### For adding OpenSource Projects, add links here.

_No response_

[2022-10-22 04:30] Tanmay09516 opened #236 "[FEATURE] Should we add names of the websites instead of just resource 1 but instead resource 1: Learn HTML free code camp"
### Description

It would not be a big task but would make it all much more accessible, as some of the resources are already consumed by the learners before coming here, so this subtle change would not only make it look pleasant but also improve the user experience.
I would love to work on this and contribute.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-22 05:46] yashdev9274 commented on #205
Hey @c99SRS are you working on this issue?

[2022-10-22 07:31] Ghat0tkach opened #237 "To add missing links of resources in readme"
Devops , blockchain and Android development roadmaps hyperlink dont exist.

[2022-10-22 10:14] siddhant-khisty commented on #205
Hey this issue was already solved but issue was not linked with PR. Hence closing this issue

[2022-10-22 10:14] #205 closed

[2022-10-22 10:15] siddhant-khisty commented on #236
This is a good idea. Feel free to open a PR for the same @Tanmay09516

[2022-10-22 10:17] siddhant-khisty commented on #204
this issue was already solved but issue was not linked with PR. Hence closing this issue

[2022-10-22 10:17] #204 closed

[2022-10-22 10:19] siddhant-khisty commented on #225
this issue was already solved but issue was not linked with PR. Hence closing this issue

[2022-10-22 10:19] #225 closed

[2022-10-22 10:32] Tanmay09516 commented on #236
Okay, I will start the work, thank you for approving!!

[2022-10-22 17:38] #218 closed

[2022-10-22 17:50] vishalrathore8oct opened #239 "Missing backend language in backend or full stack roadmap.[FEATURE] <description>"
### Description

when I checked the backend roadmap, so I didn't get any resources of backend language like Node js and Express js . so please add those also in the roadmap repository.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-22 17:54] vishalrathore8oct commented on #239
If you assign me this issue, I will solve it and add the resource of the backend language.

[2022-10-22 18:00] siddhant-khisty commented on #239
@vishalrathore8oct those resources are present under Javascript. Someone is working on changing the name from `resource 1`, `resource 2`, to the proper resource name

[2022-10-22 18:00] #239 closed

[2022-10-22 18:01] rwiteshbera opened #240 "[Bug] Blockchain Link was added twice and some roadmap links are broken."
### Description

1. Blockchain Link was added twice and the wrong link was attached.
2. DevOps Roadmap Link is broken
3. Full Stack Development link is redirecting to Frontend Development Roadmap

Could you please assign me this issue? I want to fix it.

### Screenshots

<img width="523" alt="image" src="https://user-images.githubusercontent.com/73098407/197355658-831542bf-9aa5-4ddb-9bbc-c06c3e634

[2022-10-22 18:11] kaiwalyakoparkar commented on #237
Hey thanks for reporting. Feel free to open a pr for it

[2022-10-23 06:31] VishwaS-22 commented on #203
@siddhant-khisty Ok bro! Happy to Contribute to the Community.
Thank You!

[2022-10-23 11:59] J0SAL opened #244 "[Bug] Blockchain Resource Link is broken"
### Description

1. The `Resource 1`  from `Article Format` in the `Project Ideas` section at `https://github.com/commclassroom/roadmaps/tree/main/Blockchain` is pointing to a page that does not exist.

### Screenshots

1. ![image](https://user-images.githubusercontent.com/52382282/197390619-04936702-5107-4467-be26-9165abbdeb1d.png)

### Additional information

_No response_

[2022-10-23 12:02] J0SAL commented on #244
Please assign me this issue, I'll replace the link with the similar one.

[2022-10-23 13:06] siddhant-khisty commented on #244
Hey @J0SAL nice catch. Please open a PR and have it point to the blockchain folder

[2022-10-23 16:43] inclinedadarsh opened #246 "[FEATURE] Change `Mobile-Development` directory name to `Android-Development`"
### Description

The `Mobile-Development` directory name can be changed to `Android-Development` because it can be hard for some people to find it.
Also, there will be more consistency in naming as the in the `README.me` file of `Mobile-Development` the header is **Android Development** and it's the same in the `README.md` file of this repo as well.

### Screenshots

_No response_

### Additional

[2022-10-23 16:44] siddhant-khisty commented on #246
Sounds good. Assigned you

[2022-10-23 20:56] siddhant-khisty commented on #240
Hey @rwiteshbera, there is already a PR open for the mentioned issue

[2022-10-23 20:56] #240 closed

[2022-10-25 07:18] Deepjyoti-Sarmah opened #250 "[Bug] <Open-Source link is named as Blockchain>"
### Description

The Open-Source roadmap link is named as Blockchain. There are two Blockchain links in README.md one of which leads to Open-Source roadmap.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-25 09:45] dasguptajii opened #251 "[Bug] <description>"
### Description

Getting error in webiste (https://commclassroom.github.io/commclassroom//) when clicking on See courses ->

### Screenshots

![image](https://user-images.githubusercontent.com/84613749/197741125-942a20d7-7d39-4883-91f5-9d504c58e02f.png)

### Additional information

_No response_

[2022-10-25 11:13] siddhant-khisty commented on #251
@dasguptajii this isn't the correct repo for this issue. We are still working on the website, so some things may not be working properly.

[2022-10-25 11:15] siddhant-khisty commented on #250
This is being worked on

[2022-10-25 11:15] #250 closed

[2022-10-25 17:40] vivaciousvivek opened #254 "[Bug] Blockchain, DevOps & Android-Development Roadmaps Links are broken"
### Description

`Blockchain`, `DevOps` & `Android-Development` Links in the `Mentorship Roadmaps` section at https://github.com/commclassroom/roadmaps are pointing to a page that does not exist(i.e https://github.com/commclassroom/roadmaps/blob/main).

It should point to:
https://github.com/commclassroom/roadmaps/tree/main/Blockchain#readme
https://github.com/commclassroom/roadmaps/tree/main/DevO

[2022-10-25 17:41] vivaciousvivek commented on #254
Please assign me this issue, I'll replace it with the correct link.

[2022-10-25 17:43] vivaciousvivek commented on #254
Apologies clicked on close issue by mistake.

Please assign this issue to me, I'll replace it with the correct link.

[2022-10-26 03:20] tcchawla commented on #246
Hello @siddhant-khisty, I've created a PR #255 solving this issue. Please review it and let me know if any changes are required!

[2022-10-26 06:52] Grangerpriya opened #256 "[Bug] <description>"
### Description

community link for Frontend Mentor is showing _This link is no longer active_

### Screenshots

![bug](https://user-images.githubusercontent.com/112341946/197954416-1ca26baf-9156-4198-b65c-a7c073130fe8.JPG)

### Additional information

_No response_

[2022-10-26 16:57] Grangerpriya commented on #256
If you can provide me the invite url  of frontend mentor community i am interested in fixing the issue

[2022-10-27 15:25] Saha-7 commented on #254
I am working on it , Please assigned it to me.

[2022-10-28 03:14] MridulTi opened #259 "[Roadmaps down] <the roadmap link is down>"
### Description

I have tried to open roadmaps from the community classroom for 2 days now but all the roadmaps pages and even the main roadmap page are showing Error 404  Not found. But then there has been no issue reported regarding it, so I reported this to let the mods know

### Screenshots

Main Roadmap Page
![image](https://user-images.githubusercontent.com/92802892/198493348-4a75ad90-50a8-4

[2022-10-28 10:40] Arindam200 opened #261 "[Bug] <Image link in Heading is not working>"
### Description

In the <code>Hacktoberfest-Readme.md</code> File the Image link  is not working in the Heading **"Community Classroom  Guidelines "**.

### Screenshots

![image](https://user-images.githubusercontent.com/109217591/198567445-876ba60b-0f04-44aa-a9ee-21e5ea412a04.png)

### Additional information

_No response_

[2022-10-28 18:53] ayushanand308 commented on #256
Hey @Grangerpriya are you working on this issue?

[2022-10-29 07:58] Syed25794 opened #262 "To add new CSS framework in Readme.md file in Front-end section"
### Description

I want to add the chakra-UI library for react and yarn frameworks. It would be better for a person who has done React and wants to use chakra UI in their react or other frontend frameworks.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-29 08:43] MuhammadNoorani opened #264 "Machine Learning / Data Science Roadmap"
If anyone working on this roadmap, please contact me.
Please add this roadmap as soon as possible

[2022-10-29 14:33] shivaabhishek07 commented on #236
It is a great idea.
I want to work on this issue, Can anyone assign it to me!

[2022-10-29 16:54] #264 closed

[2022-10-30 06:58] Arindam200 opened #267 "[Bug] <Resource 1 Link in Blockchain RoadMap is not working>"
### Description

The "`Resource 1`" link in **Project Ideas**  `Article Format` of the Blockchain `Readme.md` is not working!

### Screenshots

![image](https://user-images.githubusercontent.com/109217591/198866282-702cf14d-8ca2-414f-a840-c6bd60f8fdf3.png)

![image](https://user-images.githubusercontent.com/109217591/198866288-af9928ce-e7bf-4602-be6c-dc4c5a71b8e5.png)

### Additional information

[2022-10-31 03:55] tcchawla commented on #261
Hey @kaiwalyakoparkar, I have made a PR, which removes this broken Image from the headline #272. Please let me know if any changes are required. Thanks!

[2022-11-03 13:35] shivaabhishek07 opened #274 "[FEATURE] Arrange roadmaps in lexicography order"
### Description

### Arrange the roadmaps in lexicographical order
- The roadmaps in `readme.md` can be arranged in lexicography order which gives us better user experience and readability to user
- And also the last roadmap is named **Blockchain** and it is navigating to the **OpenSource** roadmap

### Screenshots

![Screenshot (10)](https://user-images.githubusercontent.com/107854894/199734020-e

[2022-11-03 18:13] #246 closed

[2022-11-03 18:21] #256 closed

[2022-11-06 13:19] SAURABHSINGHDHAMI opened #279 "[Bug] <Invalid Link in roadmaps/Open-Source/Communities/>"
### Description

The cs dojo community link is invalid on the community page of open-source roadmaps - ```roadmaps/Open-Source/Communities/```

```https://github.com/commclassroom/roadmaps/tree/main/Open-Source/Communities```

### Screenshots

![image](https://user-images.githubusercontent.com/95751390/200172231-72464ea4-eaa0-4eaa-942a-980d8750c3c6.png)

### Additional information

the correct lin

[2022-11-06 15:16] siddhant-khisty commented on #279
Fixed by #278

[2022-11-06 15:16] #279 closed

[2022-11-06 20:13] Koustavjr opened #280 "Add android development resource."
### Description

I want to add android development resource.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-06 20:14] Koustavjr commented on #280
@siddhant-khisty can u please assign me this issue

[2022-11-07 11:38] siddhant-khisty commented on #280
Please mention what resource would you like to add

[2022-11-07 11:42] Koustavjr commented on #280
I would love to add Kotlin resource by freecodecamp.

[2022-11-07 11:56] siddhant-khisty commented on #280
Please open a PR and link this issue there as well

[2022-11-09 13:17] VishwaS-22 opened #281 "[FEATURE] Add Git and GitHub Tutorial to DevOps Roadmap"
### Description

Hey There! Am opening this Issue to add Git and GitHub tutorial to the DevOps roadmap. As it is necessary to learn but it's not added in the DevOps roadmap. It is available in @kunal-kushwaha's youtube channel. So Please add it to the respective stage. Am very much happy to contribute.

### Screenshots

![Screenshot (146)](https://user-images.githubusercontent.com/85573504/2008402

[2022-11-09 16:16] siddhant-khisty commented on #281
Hey @VishwaS-22, the DevOps roadmap is not the appropriate place for the git and GitHub tutorial. It has already been added to the open-source roadmap.

[2022-11-09 16:16] #281 closed

[2022-11-10 05:11] #267 closed

[2022-11-10 12:37] VishwaS-22 commented on #281
@siddhant-khisty Thanks for the Review! Happy to contribute.

[2022-11-11 13:49] kaiwalyakoparkar commented on #235
Assigned it to you. Please feel free to create a pr

[2022-11-11 13:54] #261 closed

[2022-11-11 16:57] #262 closed

[2022-11-11 16:57] Syed25794 commented on #262
Chakra resources added

[2022-11-12 05:01] Arindam200 opened #282 "[Bug] <Registration link should be hyperlinked>"
### Description

The `Link for registration` in the  **Hacktoberfest-Readme.md**  should be Hyperlinked as shown below.

### Screenshots

- **The link is now:**

![image](https://user-images.githubusercontent.com/109217591/201456861-384bd398-c262-4249-be9a-9b827df5830e.png)

- **The link should be:**

![image](https://user-images.githubusercontent.com/109217591/201457677-15311413-551f-4403-96c5-20

[2022-11-12 13:57] #186 closed

[2022-11-12 13:57] siddhant-khisty commented on #235
Closing due to inactivity

[2022-11-12 13:57] #235 closed

[2022-11-12 13:58] siddhant-khisty commented on #236
Closing as the PR has been merged

[2022-11-12 13:58] #236 closed

[2022-11-12 13:59] siddhant-khisty commented on #237
This issue has been fixed

[2022-11-12 13:59] #237 closed

[2022-11-12 14:01] siddhant-khisty commented on #244
Closing as issue has been fixed

[2022-11-12 14:01] #244 closed

[2022-11-12 14:02] siddhant-khisty commented on #254
issue has been fixed

[2022-11-12 14:02] #254 closed

[2022-11-12 14:02] siddhant-khisty commented on #259
All the roadmaps have been shifted to this repo. Readme has been updated to reflect the changes :smile:

[2022-11-12 14:02] #259 closed

[2022-11-12 14:02] Dnyaneshvn commented on #235
Thanks @kaiwalyakoparkar !

[2022-11-12 16:43] professorabhay opened #287 "GSOC 2023 ROADMAP"
### Description

Gsoc 2023 dates announced. So, We can add a road map for gsoc 2023 in the repository. It'll help alot.

### Screenshots

![Screenshot_2022-11-12-15-08-17-341_com android chrome](https://user-images.githubusercontent.com/76243309/201484809-ca31337b-490b-4429-8832-162f9e6e4f5f.png)

### Additional information

_No response_

[2022-11-12 17:03] siddhant-khisty commented on #287
I don't think a GSOC roadmap is appropriate. You get into GSOC based on your experience with building projects, and what value you can add to the projects listed in GSOC. There isn't a roadmap for it as such apart from learning how to build

[2022-11-12 17:10] #274 closed

[2022-11-13 10:34] huamanraj commented on #287
yes! there isnt any roadmap for gsoc, you have to just contribute and apply! thats it

[2022-11-18 03:57] #282 closed

[2022-11-19 06:42] #287 closed

[2022-11-19 06:43] kaiwalyakoparkar commented on #287
Hey I will be closing this issue with reference to the comment by @siddhant-khisty

[2022-11-21 05:53] Arindam200 opened #294 "[Bug] <The Contributors image link in Readme.md is not working.>"
### Description

The Contributors image link in `Readme.md` is not working because the name of this repo has been changed!

### Screenshots

![image](https://user-images.githubusercontent.com/109217591/202975069-b35bd1a5-13af-4f73-8a64-c8646744c10b.png)

### Additional information

_No response_

[2022-11-21 13:05] #294 closed

[2022-11-21 19:09] abhishekchandra2522k opened #296 "[FEATURE] Add Linux Masterclass Course - Beginner to Advanced"
### Description

Add Linux Masterclass Course - A complete tutorial from Beginner to Advanced from Apoorv Goyal to the DevOps roadmap in the Linux section.

### Screenshots

![image](https://user-images.githubusercontent.com/51490584/203138852-d7ebb9ef-94ae-4f72-83c8-c6d3f8bd00fc.png)

### Additional information

_No response_

[2022-11-21 19:59] siddhant-khisty commented on #296
Hey @abhishekchandra2522k this is a great addition. Please feel free to open a PR for the same. Just a heads up, Linux is mentioned in multiple roadmaps such as the DevOps, backend, and full-stack roadmaps (probably in others as well). Would be great if you could update there as well

[2022-11-22 05:40] abhishekchandra2522k commented on #296
sure thing! I will raise a PR for the same by EOD.

[2022-11-22 09:59] AnuragThePathak opened #298 "Update the older discord invite with newer one on GitHub"
Replace the older link by https://discord.gg/wemakedevs everywhere in this repository.

[2022-11-22 10:31] AnuragThePathak opened #300 "Replace the community classroom links by WeMakeDevs links"
Change of mention of Community Classroom to WeMakeDevs is also appreciated.

[2022-11-22 10:55] #298 closed

[2022-11-22 11:13] abhishekchandra2522k commented on #300
I would like to work on this issue. Can you please assign it to me?
It will be my first issue to work on so I would need some guidance, and I also want to gain some git knowledge about issues and PRs along the way!

[2022-11-22 12:37] #296 closed

[2022-11-22 15:09] abhishekchandra2522k commented on #300
Thank you! I will check this repo thoroughly and make the changes asap.

[2022-11-22 15:24] abhishekchandra2522k commented on #300
https://github.com/WeMakeDevs/roadmaps/blob/696f3c8c87720c5bc1379a56b44e99bd9ef8c885/DevRel/Readme.md?plain=1#L47

Hi, just wanted to know that should I change the `commclassroom` keyword in these types of links to `wemakedevs` or wait till the `wemakedevs.org` will be up and running.

[2022-11-22 17:27] shivaabhishek07 commented on #300
I too would like to work on this issue. Can I make changes and collaboratively make the changes with @abhishekchandra2522k?

[2022-11-22 17:33] AnuragThePathak commented on #300
Eh I think the issue is too simple to work for two persons.

[2022-11-22 17:57] gurjeetsinghvirdee opened #302 "Replace the Hacker Club Hackerabad expired discord link with new link"
### Expired Link: https://discord.hackerabad.tech/
### New Link: https://discord.com/invite/3wmJeSS56w

[2022-11-22 17:58] shivaabhishek07 commented on #300
Yeah, working on the issue that needs keen observation in every corner makes the work easy and fast when we have more people working on it I guess.

[2022-11-22 17:59] shivaabhishek07 commented on #300
Yeah, working on the issue that needs keen observation in every corner makes the work easy and fast when we have more people working on it I guess.

[2022-11-22 18:30] shivaabhishek07 commented on #302
I would like to work on this issue. Can anyone assign it to me?

[2022-11-22 18:35] Hitarthbhatt opened #303 "iOS Development Roadmap"
### Description

Hi, I've added the iOS development roadmap, job boards, communities & open source. I had put all my 1.5 years of experience and knowledge to complete this roadmap.
I'll open PR and link this issue there as well. Please provide me feedback if anything needs to be changed.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-23 07:40] siddhant-khisty commented on #300
@abhishekchandra2522k all instances of `commclassroom` will need to be changed to `WeMakeDevs`. Please edit any instance you see

[2022-11-23 09:53] #300 closed

[2022-11-23 09:54] #302 closed

[2022-11-24 13:04] VishwaS-22 opened #309 "[OTHER] Missing playlist"
### One of the Sample Projects Playlist is missing in the DevOps roadmap!

Hey there! In DevOps roadmap at the final stage of DevOps Sample Projects,  The "20 DevOps Real-time Projects" videos is not available in the respective youtube channel. So please check with that! Kindly add alternate resources for the reference. Happy to contribute.

Thankyou.
![Screenshot (162)](https://user-images.github

[2022-11-24 13:37] siddhant-khisty commented on #309
hmm. I guess the creator removed the videos. Please open a PR to remove this resource. If you know of anything to replace this with, please include that as well in the PR

[2022-11-24 16:00] VishwaS-22 commented on #309
Hey @siddhant-khisty! Sure, Please assign this issue to me. I would like to work on this.

Thankyou!

[2022-11-24 16:28] VishwaS-22 commented on #309
Hey @siddhant-khisty! Yeah bro added the link and made a PR. Please check it.

Thankyou!

[2022-11-24 17:19] #309 closed

[2022-11-27 12:44] Shikharishere opened #311 "[FEATURE] <description>"
### Description

A roadmap for machine learning would be a great addition.

### Screenshots

_No response_

### Additional information

_No response_